
@font-face {
  font-family: "Raleway";
  src: local('Raleway-VariableFont_wght'), url("./fonts/Raleway-VariableFont_wght.ttf") format("truetype");
}


html {
  scroll-behavior: smooth;
}

.header {
  max-width: 100vw;
  padding-top: 1em;
  padding-bottom: 1em;
  background: rgb(6,1,91);
  background: linear-gradient(90deg, rgba(6,1,91,1) 0%, rgba(78,78,190,1) 39%, rgba(66,76,205,1) 70%, rgba(160,0,255,1) 100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.header a {
  text-align: center;
  font-size: 24px;
  color: rgb(214, 214, 214);
}

.header a:hover {
  color: rgb(250, 250, 250)
}


body {
  background-color: rgb(255, 255, 255);
  color: rgb(71, 85, 105);
  margin: 0 0.8em;
  
font-family: 'Raleway';
opacity: 100%;}



#posts-new form{
  display: grid;
  grid-template-columns: 22%;
}

#posts-new label {
  margin: .8em 0;
  text-align: right;

}

h1 {max-width: 50vw;
  line-height: 1.5;
  color: rgb(15,22,42);
  opacity: 100%;
  font-size: 50px;
  margin-top: 2em;
}

h2 {
  margin-top: 4em;
  max-width: 80vw;
  opacity: 100%;
  font-size: 32px;
  padding: .2em;
  color: rgb(55, 59, 71)

}


.body {
  max-width: 100vw;
  padding-bottom: 4em;
  display: grid;
  grid-template-columns: 60% 30%;
  gap: 10%;
  padding: 1.6em;
  font-size: 22px;
  word-spacing: .1em;
  letter-spacing: 0.06em;
  line-height: 1.8em;
}


div[name="dark"] {
  background-color: rgb(245,245,245);
}

#posts-index img {
  width: 25vw
}




button {
  margin: 1em 1em;
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #3e3e3e;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: white;
  background-color: #4347b5;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #d6d6d6;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}