
.header {
  background: radial-gradient(rgb(218, 170, 149), rgb(220, 163, 140));
    /* Dark overlay */


  font-size: 14px;
  width: 100vw;
  top: 0;
  left: 0;
  height: 90px;
  display: grid;
  grid-template-columns: 18% 35% 12% 10% 5%;
  gap: 3.5%;
  align-items: center;
  position: fixed;
  
  
  h1 {
    color: rgb(22, 22, 22);
    font-size: 28px;
  }
  

  #searchBar {
    min-width: 30vw;
    height: 5vh;
    font-size: 16px;
    align-self: center;
    background-color: rgb(240, 240, 240);
    color: black;
  }



  h2,
  h3 {
    color: #161616;
    font-size: 20px;
    align-self: center;
    text-wrap: nowrap;
    text-decoration: none;
  }

  .flexbox {
    display: flex;
  }

  .flexbox:hover {
    cursor: pointer;

    img {
      filter: brightness(70%)
    }

    h2 {
      text-decoration: underline;
    }
  }

  h1:hover {
    cursor: pointer;
  }

  h3:hover {
    cursor: pointer;
    text-decoration: underline;
  }

  h2 {
    font-size: 20px;
    color: #1e1e1e;
  }

}



.subheader {
  position: fixed;
  background-color: rgb(17, 17, 17);
  font-size: 14px;
  width: 100vw;
  top: 90px;
  left: 0;
  height: 30px;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: center;
  align-items: center;
  column-gap: 12vw;

  h2 {
    font-size: 20px;
  }
  h2:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.search-overlay {
  position:fixed;
  transition: 1s;
  width: 100vw;
  left: 0;
}

.search-drop {
  position: fixed;
  background-color: rgba(240, 240, 240, 0.949);
  color: black;
  left: 21.7vw;
  top: 65px;
  width: 34.6vw;
  visibility: collapse;


  .result-row:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: rgb(248, 248, 248);
  }
  .result-row {
    align-content: center;
  }
}

#dropdown {
  overflow-y: scroll;
  background-color: black;

  h3:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.categories {
  position: fixed;
  top: 140px;
  left: 30vw;
  width: 200px;
}